# Composer package
/vendor/

# Bower components
public/assets/
!public/assets/prims

# Documentation
docs

# Logs
logs
/logs/*
!/logs/README.md

# sass cache
.sass-cache

# htaccess for different environment
public/.htaccess-*


# Real setting file
src/settings.php

# Setting for different enviroment
src/settings-*

# Sqlite Database
*.db

# Misc
.fuse_*
api
assets
public/css
public/fonts
public/images
public/thumbnails
public/js/*.min.js
