{#}
  Disqus Lazyload and Container
{#}
<div class="container disqus-container">
  <div class="row">
    <div class="disqus"></div>
  </div>
</div>
<script src="/assets/disqus-loader/disqusloader.js"></script>
<script>
  disqusLoader('.disqus', {
    scriptUrl: '//zackadtech.disqus.com/embed.js'
  });
</script>
