{% extends 'base-skeleton.twig' %}
{% set title = 'Homepage' %}
{% block content %}
  <div class="container markdown-body">
    <div class="row text-center">
      <h2>Full stack web developer specialized on WebGIS application.</h2>
    </div>
    {% set postlist = articles %}
    {% include 'partial/components/post-list.twig' %}
  </div>
{% endblock %}
{% block disqus %}
    
{% endblock %}
