{% extends 'base-skeleton.twig' %}
{% block content %}
  <div class="container markdown-body">
  {% if flash %}
    {{ ("## " ~ flash)|markdown }}
    {% markdown %}
    {% endmarkdown %}
  {% endif %}
  {% include 'partial/components/post-list.twig' %}
  </div>
{% endblock %}
{% block disqus %}
    
{% endblock %}
