{% extends 'base.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="markdown-body">
      {% if flash %}
        <blockquote>
          {{ flash }}
        </blockquote>
      {% endif %}
    </div>
    {% if post.type == 'add' and flash %}
      <div class="container text-center">
        <a href="/add/article/" class="button">Add Other Article</a> || 
        <a href="/manage/article/" class="button">Back to Manage</a>
      </div>
    {% else %}
      <form action="" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" class="u-full-width" value="{{ post.title }}" required>
        <label for="post">Content</label>
        <textarea name="post" rows="1" class="u-full-width" required>{{ post.post }}</textarea>
        <div class="taggle-container">
          <div id="tags" class="input textarea clearfix"></div>
        </div>
        <div class="row">
          <div class="six columns">
            <!-- <label for="tags">Tags</label> -->
            <input type="text" name="tags" class="u-full-width" value="{#{ post.tags }#}" title="Tags" placeholder="Tags">
          </div>
        </div>
        <div class="text-center">
          <a href="/manage/post/" class="button">Back</a>
          <button type="submit" class="button-primary">Save</button>
        </div>
      </form>
    {% endif %}
  </div>
</div>
<style>
  textarea{
    /* box-sizing: padding-box; */
    overflow:auto;
    /* demo only: */
    height: calc(100vh - 50px);
    resize: none;
  }
</style>
{% endblock %}
{% block javascript %}
  <link rel="stylesheet" href="/css/taggle.min.css">
  <script src="/js/taggle.js"></script>
  <script>
    var tags = {{ post.tags|json_encode()|raw }};
    if (tags !== null && tags.constructor === Array && tags.length > 0) {
      new Taggle('tags', {
        tags: tags
      });
    } else {
      new Taggle('tags');
    }
  </script>
  <script src="/js/form.js"></script>
{% endblock %}
{% block disqus %}
    
{% endblock %}
