/**
 * Override margin and padding on all page
 */
html,
body {
  margin: 0;
  padding: 0;
}

// Typography and utilities
// ____________________________________________________________________________
textarea,
pre {
  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}
