// Colors
// ______________________________________________

$white: #fff;
$color_gallery_approx: #eee;
$color_gallery: #dedede;
$color_log_cabin_approx: #222;
$color_picton_blue_approx: #33c3f0;
$black_10: rgba(0, 0, 0, .1);
$color_mountain_mist_approx: #999;
