@media(min-width: 550px) {
  .markdown-body {
    font-size: 130%;
  }
  .container {
    width: 90%;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header {
    margin-top: 18rem;
  }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem;
  }
  .value-img {
    margin-bottom: 1rem;
  }
  .docs-section {
    padding: 6rem 0;
  }
  .cookie {
    max-width: 200px;
    left: 3%;
    bottom: 10px;
    p {
      display: block;
    }
    p.mobile {
      display: none;
    }
  }
}

@media(min-width: 750px) {
  body > .container {
    margin-top: 75px;
  }
  .navbar-mobile {
    display: none;
  }

  // why there is a '+' operator?
  // '+' operator for siblings
  .navbar-mobile + .container {
    margin-top: 0px;
  }
  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: $white;
    z-index: 99;
    border-top: 1px solid $color_gallery_approx;
    border-bottom: 1px solid $color_gallery_approx;
    + .docs-section {
      border-top-width: 0;
    }
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-item {
    display: block;
    position: relative;
    float: left;
    margin-bottom: 0;
    &.active {
      background: #eee;
      border-bottom: solid 2px #222;
    }
  }
  .navbar-link {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    line-height: 6.5rem;
    color: $color_log_cabin_approx;
    &.active {
      color: $color_picton_blue_approx;
    }
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    border: 1px solid $color_gallery_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    top: 92%;
    left: -50%;
    filter: drop-shadow(0 0 6px $black_10);
    &.open {
      display: block;
      z-index: 99;
    }
  }
  .popover-item {
    padding: 0;
    margin: 0;
    &:first-child .popover-link {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 4px 4px 0 0;
      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $white;
        border-width: 10px;
        margin-left: -10px;
      }
      &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: $color_gallery_approx;
        border-width: 11px;
        margin-left: -11px;
      }
      &:hover:after {
        border-bottom-color: $color_picton_blue_approx;
      }
    }
    &:last-child .popover-link {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0 0 4px 4px;
      border-bottom-width: 0;
    }
  }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popover-link {
    position: relative;
    color: $color_log_cabin_approx;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid $color_gallery_approx;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
    &:hover {
      color: $white;
      background: $color_picton_blue_approx;
      border-bottom-color: $color_picton_blue_approx;
    }
  }
}
